<div class="container">
<h1>Flight Details</h1>
    <div class="row">
        <div class="col-md-10 book">
        <table class="table table-responsive">
          <thead>
            <th>Booking no.</th>
            <%= render 'flights/thead' %>
          </thead>
            <tr class="success">
              <%= render 'booking' %>
            </tr>
</table>
        </div>
    </div>
                <div class="col-sm-6 passenger">
                <h3>Passenger Details</h3>
                <table class="table table-responsive">
                <th>Passenger Name</th>
                <th>Passenger Email</th>
                <% @booking.passengers.each do |p| %>
                  <tr>
                    <td><%= p.name %></td>
                    <td><%= p.email %></td>
                  </tr>
                <% end %>
                
</table>
</div>
</div>
            
        




