@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
    background: image-url('flightbooker.jpeg') no-repeat center center fixed;
}

/* Header */

.navbar {
  background-color: white;
  border: none;
  border-bottom: 1px solid #D2D6DF;
  color: #666a73;
  height: 60px;
  .header_left {
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
    p > a {
          color: lightskyblue;
    }
  }
}

/* Tables */

.search, .available, .details, .personal, .book, .passenger {
    background: white;
    opacity: 0.90;
    padding: 20px;
    border-radius: 5px;
}

.available, .personal, .passenger {
    margin-bottom: 20px;
    margin-top: 20px;
}